extends layout

block content
   
     div(class="cointainer")
        div(class="row")
        div(class="col-12 col-lg-4 offset-lg-4 text-center my-5")
            form(class="example my-5" method="GET")
                input(type="text" placeholder="Search.." name="search")
                button(type="submit") SEARCH