extends layout

block content
   
     div(class="cointainer")
        div(class="row")
            header
                h2
                    a(class="aFirstHeaderLOGO" href="/") S
                        a(class="aSecondHeaderLOGO" href="/") SEARCH
                div(class="nav")
                    a(class="headerNav" href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                     a(class="headerNav" href="/login") Sing In
                     a(class="headerNav" href="/register") Register
        div(class="col-12 col-lg-4 offset-lg-4 text-center my-5")
            h1= message
            h2= logoutMessage
            form(class="example my-5" method="GET")
                input(type="text" placeholder="Search.." name="search")
                button(type="submit") SEARCH