extends layout

block content
   
     div(class="cointainer")
        div(class="row")
            header
                h2 S
                    a SEARCH
                div(class="nav")
                    a(href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                    a(href="/") Home
                    a(href="/account") My Account
                    a(href="/logout") Logout
        div(class="col-12 col-lg-4 offset-lg-4 text-center my-5")
          