extends layout

block content
    form(method='POST')
        div(class="cointainer")
            div(class="row")
                header
                    h2
                        a(class="aFirstHeaderLOGO" href="/") S
                            a(class="aSecondHeaderLOGO" href="/") SEARCH
                    div(class="nav")
                        a(class="aSkompiec" href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                        a(class="aHome" href="/") Home
            div(class="loginView") 
                h1 Zaloguj się
                p(class="my-1") Email
                input(type='text' name='email')
                p(class="my-1") Hasło
                input(type='password' name='password')
                h1= message
                h2= createMessage
                h3= loginMessage
                button(type="submit" class="btnLogin my-1") Zaloguj
                    a(href="/contentForLogged") 
                a(class="hrefSingIn_PageRegister my-1" href='/register') Zarejestruj się
        script(src='/scripts/scriptLogin.js')