extends layout

block content
   
     div(class="cointainer")
        header
            h2
                a(class="logo" href="/") SSEARCH
            div(class="nav")
                a(class="headerNav" href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                a(class="headerNav" href="/") Strona główna
                a(class="headerNav" href="/favorite") Obserwowane
                a(class="headerNav" href="/logout") Wyloguj się
                    h1=message              
        div(class="userAccount")
            h1 Moje konto:
            h2 Imię: #{user.FirstName}
            h2 Nazwisko: #{user.LastName}
            h2 Email: #{user.Email}