extends layout

block content
    form(method="POST" name='form')
        div(class="cointainer")
        div(class="row")
            header
                h2 S
                    a SEARCH
                div(class="nav")
                    a(href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                    a(href="/") Home
        div(class="col-12 col-lg-4 offset-lg-4 text-center my-5") 
            h1 Zarejestruj się
            p(class="my-1") Imię
            input(type='text' name='firstName' value=FirstName)
            p(class="my-1") Nazwisko
            input(type='text' name='lastName' value=LastName)
            p(class="my-1") Email
            input(type='text' name='email' id='email1')
            p(class="my-1") Powtórz Email
            input(type='text' id="email2")
            p(class="my-1") Hasło
            input(type='password' name='password' id='password1' value=Password)
            p(class="my-1") Powtórz hasło
            input(type='password' id='password2')
            h1= message
            button(type="submit" class="btnRegister") Zarejestruj
            p
            a(href='/login') Logowanie
        script(src='/scripts/scriptRegister.js')