* {
    margin: 0;
    padding: 0;
    border-radius: 18px;
    background-color: #d5d5ea;
}

.btnRegister,
.btnLogin {
    width: 100px;
    border-radius: 18px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    position: relative;
    left: 5%;
}

input {
    padding: 5px;
}

.logo {
    opacity: 100%;
}

.headerNav {
    display: flex;
    justify-content: right;
    margin: 5px;
}

.loginView {
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerView {
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userAccount {
    padding: 20px;
    width: 400px;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    text-align: left;
}

.userAccountContainer {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userAccountNav {
    font-size: 25px;
}

.userFavorite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.searchContainer {
    background-color: #d5d5ea;
    padding: 3%;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}


form.example::after {
    content: "";
    clear: both;
    display: table;

}

.product {
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: 40px;
    align-items: center;
    justify-content: center;

}

.productIMG {
    width: 400px;
    height: 400px;
}


.mainShop {
    margin: 30px;
}

.mainShopIMG {
    width: 100px;
    height: 100px;
}

.shopsText {
    margin: 1%;
    white-space: nowrap;
}

.productsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d5d5ea;

}

.productsPrice {
    font-size: 25px;
}

.searches {
    border: 2px solid black;
    width: 410px;
    height: 430px;
    margin: 1%;
    display: flex;
    align-items: center;
}

.searchesSpace {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.searches span {
    margin-right: 6%;
}

.checked {
    color: orange;
}

.unchecked {
    color: gray;
}

.swal2-x-mark {
    background-color: rgba(255, 255, 255, 0);
}

.hrefRegister_PageSingIn, .hrefSingIn_PageRegister{
    color: blue;
}

.searchesSpace h5,
.userAccountNav,
.mainShop {
    color: black;
}

.logo,
.logo:hover,
header h2,
.headerNav {
    color: white;
}

header,
.logo,
.logo:hover,
.nav,
.headerNav,
form.example input[type=text],
.searchContainer,
.productsContainer,
.searches,
.searchesSpace,
.searchesSpace h5,
.searches span {
    border-radius: 0px;
}


.searchesSpace,
.mainShop,
.userAccountNav,
.hrefSingIn_PageRegister,
.hrefRegister_PageSingIn,
.headerNav,
.logo{
    text-decoration: none;
}

header,
.logo,
.logo:hover,
.nav,
.headerNav{
    background-color: black;
}

.swal2-icon,
.swal2-html-container,
.searches,
.searchesSpace h5,
.searchesSpace,
.searches span,
input,
.btnRegister,
.btnLogin {
    background-color: white;
}